.header__foto {
  width: 100px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../../../image/белая_шестерёнка.png);
}

.header__foto:hover {
  cursor: pointer;
  animation: none;
}

@media screen and (max-width: 640px) {
  .header__foto {
    width: 50px;
    height: 50px;
  }
}