button {
    all: unset;
    color: rgb(118, 117, 117);
    margin: auto;
    border: 1px solid rgb(118, 117, 117);
    padding: 5px;
    border-radius: 3px;
  }

  .button_on {
    cursor: pointer;
    transition: color 0.4s linear, border 0.9s linear;
    border: 1px solid rgb(205, 205, 205);
    color: rgb(205, 205, 205);
  }