.clouse {
    background-image: url(../../../image/103.svg);
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: -30px;
    left: -45px;
    cursor: pointer;
    transition: transform 1s linear;
    &:hover {
      transform: rotateZ(-360deg);
    }
  }