.search_conteiner {
  margin: 5px auto;
  width: 100%;
  max-width: 450px;
  height: 80px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  .overflow {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    z-index: -1;
    animation: opacityList 0.4s linear;
  }
  .search_conteiner_found {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 20px;
      height: 20px;
    }

    @media screen and (max-width: 400px) {
      img {
        width: 15px;
      }
    }

    textarea {
      background-color: #000000;
      margin: 5px 0 5px 10px;
      min-height: 60px;
      font-size: 30px;
      color: white;
      border-radius: 5px;
      text-align: center;
      resize: none;
    }
    textarea::-webkit-scrollbar {
      width: 0;
    }
    @media screen and (max-width: 640px) {
      textarea {
        font-size: 20px;
      }
    }

    @media screen and (max-width: 400px) {
      textarea {
        margin-left: 2px;
      }
    }
  }

  a {
    all: unset;
    position: relative;
    top: 25px;
    margin: 0 auto;
    color: white;
    display: flex;
    min-width: 150px;
    min-height: 40px;
    margin: auto;
    border: rgb(118, 117, 117) solid 2px;
    border-radius: 5px;
    cursor: pointer;

    .button {
      margin: auto;
      font-size: 25px;
    }

    @media screen and (max-width: 640px) {
      .button {
        font-size: 15px;
      }
    }
  }
  a:focus {
    border: rgb(224, 208, 208) solid 2px;
  }

  @media screen and (max-width: 640px) {
    a {
      top: 15px;
      min-width: 100px;
      min-height: 30px;
    }
  }
}

@media screen and (max-width: 640px) {
  .search_conteiner {
    max-width: 350px;
  }
}

@keyframes opacityList {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.nod_found {
  text-align: center;
  color: rgb(237, 164, 164);
  margin: 0;
  font-size: 15px;
  animation: opacityList 1s linear;
}

@media screen and (max-width: 640px) {
  .nod_found {
    font-size: 10px;
  }
}

.search_list_conteiner {
  position: relative;
  top: 45px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  width: 80%;
  color: rgb(255, 255, 255);
  animation: opacityList 1s linear;
  ul {
    all: unset;
    text-align: center;
    display: flex;
    flex-direction: column;
    li {
      all: unset;
      cursor: pointer;
      border-bottom: rgb(224, 208, 208) solid 1px;
      margin: 5px;
      padding: 5px;
      font-size: 23px;
      border-radius: 5px;
    }

    @media screen and (max-width: 640px) {
      li {
        font-size: 15px;
      }
    }
    
    @media (hover: hover) and (pointer: fine) {
      li:hover {
        border-bottom: rgb(255, 255, 255) solid 1px;
        background-color: rgba(201, 190, 190, 0.435);
        transition: visibility 0.2s, background-color 0.2s linear;
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .search_list_conteiner {
    top: 30px;
  }
}
